<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="ConString" value="Data Source=server.flexinetsystems.com.au;Initial Catalog=Epping;User ID=flexinet;Password=s3cr3t" />
        <add key="TraceLevel_File" value="4" />
    </appSettings>

    <system.serviceModel>
        <behaviors>
          <serviceBehaviors>
            <behavior>
              <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"/>
            </behavior>
          </serviceBehaviors>
          
            <endpointBehaviors>
                <behavior name="REST">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <bindings>
            <webHttpBinding>
                <binding name="RestHttpsBindingConfig">
                    <security mode="Transport" />
                </binding>
            </webHttpBinding>
        </bindings>
      
        <services>
            <service name="RestServer.TpService">
                <endpoint 
                    address="" 
                    binding="webHttpBinding" 
                    bindingConfiguration="RestHttpsBindingConfig"
                    behaviorConfiguration="REST"
                    contract="RestServer.IMemberData" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
