<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="smtputil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <smtputil.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Velvet31</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>hadz69@gmail.com</value>
            </setting>
            <setting name="Sender" serializeAs="String">
                <value>hadz69@gmail.com</value>
            </setting>
            <setting name="Recipients" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dhadley@ebetgroup.com</string>
                        <string>david@hadz.net</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>Test Email</value>
            </setting>
            <setting name="Message" serializeAs="String">
                <value>This is a test email</value>
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>True</value>
            </setting>
        </smtputil.Properties.Settings>
    </applicationSettings>
</configuration>