<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CMSConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="framework;external" />
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="CMSConsole.Properties.Settings.CMSConnectionString"
      connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CMSConsole.Properties.Settings.SysConnectionString"
      connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <applicationSettings>
        <CMSConsole.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="KeepXml" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogTraceLevel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM6</value>
            </setting>
        </CMSConsole.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
