<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="testServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="testServer.Properties.Settings.ConString" connectionString="Data Source=server.flexinetsystems.com.au;Initial Catalog=EasyNet_1.0.29;Persist Security Info=True;User ID=flexinet;Password=s3cr3t"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <testServer.Properties.Settings>
            <setting name="ServicePort" serializeAs="String">
                <value>8000</value>
            </setting>
        </testServer.Properties.Settings>
    </applicationSettings>
</configuration>