<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    </configSections>
    <connectionStrings>
        <add name="Metro.Data.Server.Properties.Settings.SysConString"
            connectionString="Data Source=.;Initial Catalog=CMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Metro.Data.Properties.Settings.SystemConnection" connectionString="Data Source=.;Initial Catalog=Ruby;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Metro.Data.Properties.Settings.FlexiNetConnection"
            connectionString="Data Source=.;Initial Catalog=Epping;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Metro.Data.Properties.Settings.OnlineConnection" connectionString="Data Source=.;Initial Catalog=Eps_Online;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Metro.Data.Properties.Settings.MemberConnection" connectionString="Data Source=.;Initial Catalog=Eps_MSHIP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Metro.Data.Properties.Settings.GameConnection" connectionString="Data Source=.;Initial Catalog=Eps_Game;Integrated Security=True" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="shared;framework;external" />
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\log\Metro.DataService.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>