<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <Alma.Properties.Settings>
            <setting name="ShellFileName" serializeAs="String">
                <value>Module.Shell.dll</value>
            </setting>
            <setting name="WaterMarkImage" serializeAs="String">
                <value>/image/watermark.jpg</value>
            </setting>
        </Alma.Properties.Settings>
    </applicationSettings>
</configuration>
