<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ArduinoUDP.Properties.Settings.ArduinoDB" connectionString="server=10.192.32.4;User Id=arduino;password=Arduino2012;Persist Security Info=True;database=arduino;Connect Timeout=30"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>